extends template.pug

block content
  div.main-content
    p= title
    p= message

    ul.products
      each p in products
        li
          img(src=p.images[0].formats.small.url)
          h4= p.title
          p= p.description
